@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome on <span class="text-custom-green">Sportify</span> !</h1>
    <p class="display-6">Go to competitions page to find or create a competition !</p>
</div>