@{
    ViewData["Title"] = "Competition Page";
}


<div class="container h-100">
  <div class="d-flex justify-content-between">
    <div class="searchbar">
      <input class="search_input text-black" type="text" name="" placeholder="Search...">
      <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
    </div>
    <div class="">
      <a class="btn btn-primary" href="/Competition/Create/">
        +</a>
      @* onclick="return confirm('Are you sure to disable the poll ? This action is irrevocable.')" *@
    </div>
  </div>
  <div class="container mt-2">
    <div class="row">
      <div class="col-sm">
        <div class="w-100 bg-dark rounded p-3 m-3">
          <h3>Title</h3>
          <p>Description</p>
          <p>Constraints</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="w-100 bg-dark rounded p-3 m-3">
          <h3>Title</h3>
          <p>Description</p>
          <p>Constraints</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="w-100 bg-dark rounded p-3 m-3">
          <h3>Title</h3>
          <p>Description</p>
          <p>Constraints</p>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .searchbar{
      margin-bottom: auto;
      margin-top: auto;
      height: 60px;
      background-color: whitesmoke;
      border-radius: 20px;
      padding: 10px;
      }
  
      .search_input{
      color: white;
      border: 0;
      outline: 0;
      background: none;
      width: 100%;
      caret-color:transparent;
      line-height: 40px;
      transition: width 0.4s linear;
      }

      .search_icon{
      height: 40px;
      width: 40px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color:white;
      text-decoration:none;
      }
</style>